{
  "extends": [
    "stylelint-config-standard-vue"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "media-feature-range-notation": null,
    "no-descending-specificity": null,
    "rule-empty-line-before": "never",
    "no-empty-source": null,
    "order/order": [
      "dollar-variables",
      "declarations",
      "at-rules",
      "rules"
    ],
    "order/properties-order": [
      "-------------------------显示和浮动-------------------------",
      "display",
      "visibility",
      "justify-content",
      "justify-items",
      "justify-self",
      "justify-tracks",
      "align-content",
      "align-items",
      "align-self",
      "float",
      "clear",
      "content",
      "content-visibility",
      "flex",
      "flex-basis",
      "flex-direction",
      "flex-flow",
      "flex-grow",
      "flex-shrink",
      "flex-wrap",
      "order",
      "-------------------------定位-------------------------",
      "position",
      "top",
      "right",
      "bottom",
      "left",
      "inset",
      "inset-block",
      "inset-block-end",
      "inset-block-start",
      "inset-inline",
      "inset-inline-end",
      "inset-inline-start",
      "z-index",
      "-------------------------边框相关属性-------------------------",
      "margin",
      "margin-top",
      "margin-right",
      "margin-bottom",
      "margin-left",
      "margin-block",
      "margin-block-end",
      "margin-block-start",
      "margin-inline",
      "margin-inline-end",
      "margin-inline-start",
      "margin-trim",
      "padding",
      "padding-top",
      "padding-right",
      "padding-bottom",
      "padding-left",
      "padding-block",
      "padding-block-end",
      "padding-block-start",
      "padding-inline",
      "padding-inline-end",
      "padding-inline-start",
      "border",
      "border-block-color",
      "border-block-end",
      "border-block-end-color",
      "border-block-end-style",
      "border-block-end-width",
      "border-block-start",
      "border-block-start-color",
      "border-block-start-style",
      "border-block-start-width",
      "border-block-style",
      "border-block-width",
      "border-style",
      "border-top-style",
      "border-right-style",
      "border-bottom-style",
      "border-left-style",
      "border-width",
      "border-color",
      "border-top-color",
      "border-right-color",
      "border-bottom-color",
      "border-left-color",
      "border-top-style",
      "border-top-width",
      "border-top-width",
      "border-right-width",
      "border-bottom-width",
      "border-left-width",
      "border-right-style",
      "border-right-width",
      "border-bottom-style",
      "border-bottom-width",
      "border-left-style",
      "border-left-width",
      "border-radius",
      "border-bottom-left-radius",
      "border-bottom-right-radius",
      "border-end-end-radius",
      "border-end-start-radius",
      "border-start-end-radius",
      "border-start-start-radius",
      "border-image",
      "border-image-outset",
      "border-image-repeat",
      "border-image-slice",
      "border-image-source",
      "border-image-width",
      "border-inline",
      "border-inline-color",
      "border-inline-end",
      "border-inline-end-color",
      "border-inline-end-style",
      "border-inline-end-width",
      "border-inline-start",
      "border-inline-start-color",
      "border-inline-start-style",
      "border-inline-start-width",
      "border-inline-style",
      "border-inline-width",
      "outline",
      "outline-color",
      "outline-offset",
      "outline-style",
      "outline-width",
      "list-style",
      "table-layout",
      "caption-side",
      "border-collapse",
      "border-spacing",
      "empty-cells",
      "-------------------------尺寸-------------------------",
      "block-size",
      "box-sizing",
      "width",
      "min-width",
      "max-width",
      "height",
      "min-height",
      "max-height",
      "overflow",
      "overflow-anchor",
      "overflow-block",
      "overflow-clip-margin",
      "overflow-inline",
      "overflow-wrap",
      "overflow-x",
      "overflow-y",
      "inline-size",
      "-------------------------字体样式-------------------------",
      "font",
      "font-size",
      "font-size-adjust",
      "font-stretch",
      "font-style",
      "font-synthesis",
      "font-variant",
      "font-variant-alternates",
      "font-variant-caps",
      "font-variant-east-asian",
      "font-variant-emoji",
      "font-variant-ligatures",
      "font-variant-numeric",
      "font-variant-position",
      "font-variation-settings",
      "font-family",
      "font-weight",
      "text-align",
      "text-align-last",
      "text-justify",
      "text-indent",
      "text-overflow",
      "text-decoration",
      "text-decoration-color",
      "text-decoration-line",
      "text-decoration-skip",
      "text-decoration-skip-ink",
      "text-decoration-style",
      "text-decoration-thickness",
      "text-combine-upright",
      "text-emphasis",
      "text-emphasis-color",
      "text-emphasis-position",
      "text-emphasis-style",
      "text-orientation",
      "text-rendering",
      "text-shadow",
      "text-size-adjust",
      "text-transform",
      "text-underline-offset",
      "text-underline-position",
      "white-space",
      "word-spacing",
      "vertical-align",
      "color",
      "line-height",
      "white-space",
      "word-break",
      "word-spacing",
      "word-wrap",
      "writing-mode",
      "-------------------------背景-------------------------",
      "background",
      "background-attachment",
      "background-blend-mode",
      "background-clip",
      "background-color",
      "background-image",
      "background-origin",
      "background-position",
      "background-position-x",
      "background-position-y",
      "background-repeat",
      "background-size",
      "backdrop-filter",
      "backface-visibility",
      "opacity",
      "filter",
      "list-style",
      "outline",
      "box-shadow",
      "text-shadow",
      "resize",
      "-------------------------动画-------------------------",
      "animation",
      "animation-composition",
      "animation-delay",
      "animation-direction",
      "animation-duration",
      "animation-fill-mode",
      "animation-iteration-count",
      "animation-name",
      "animation-play-state",
      "animation-timeline",
      "animation-timing-function",
      "transition",
      "offset",
      "offset-anchor",
      "offset-distance",
      "offset-path",
      "offset-position",
      "offset-rotate",
      "perspective",
      "perspective-origin",
      "rotate",
      "scale",
      "scroll-behavior",
      "scroll-margin",
      "scroll-margin-block",
      "scroll-margin-block-end",
      "scroll-margin-block-start",
      "scroll-margin-bottom",
      "scroll-margin-inline",
      "scroll-margin-inline-end",
      "scroll-margin-inline-start",
      "scroll-margin-left",
      "scroll-margin-right",
      "scroll-margin-top",
      "scroll-padding",
      "scroll-padding-block",
      "scroll-padding-block-end",
      "scroll-padding-block-start",
      "scroll-padding-bottom",
      "scroll-padding-inline",
      "scroll-padding-inline-end",
      "scroll-padding-inline-start",
      "scroll-padding-left",
      "scroll-padding-right",
      "scroll-padding-top",
      "scroll-snap-align",
      "scroll-snap-stop",
      "scroll-snap-type",
      "scroll-timeline",
      "scroll-timeline-axis",
      "scroll-timeline-name",
      "transform",
      "transform-box",
      "transform-origin",
      "transform-style",
      "transition",
      "transition-delay",
      "transition-duration",
      "transition-property",
      "transition-timing-function",
      "translate",
      "-------------------------其他-------------------------",
      "cursor",
      "list-style",
      "list-style-image",
      "list-style-position",
      "list-style-type",
      "scrollbar-color",
      "scrollbar-gutter",
      "scrollbar-width",
      "-------------------------图片-------------------------",
      "filter",
      "image-orientation",
      "image-rendering",
      "mask",
      "mask-border",
      "mask-border-mode",
      "mask-border-outset",
      "mask-border-repeat",
      "mask-border-slice",
      "mask-border-source",
      "mask-border-width",
      "mask-clip",
      "mask-composite",
      "mask-image",
      "mask-mode",
      "mask-origin",
      "mask-position",
      "mask-repeat",
      "mask-size",
      "mask-type",
      "shape-image-threshold",
      "shape-margin",
      "shape-outside",
      "-------------------------布局-------------------------",
      "gap",
      "row-gap",
      "grid",
      "grid-area",
      "grid-auto-columns",
      "grid-auto-flow",
      "grid-auto-rows",
      "grid-column",
      "grid-column-end",
      "grid-column-start",
      "grid-row",
      "grid-row-end",
      "grid-row-start",
      "grid-template",
      "grid-template-areas",
      "grid-template-columns",
      "grid-template-rows",
      "table-layout"
    ]
  }
}
